
.vs/ajandamWeb/v14/.suo
.vs/ajandamWeb/v15/.suo
.vs/ajandamWeb/v15/Server/sqlite3/db.lock
.vs/ajandamWeb/v15/Server/sqlite3/storage.ide
.vs/ajandamWeb/v15/Server/sqlite3/storage.ide-shm
.vs/ajandamWeb/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
.vs/ajandamWeb/v15/.suo
.vs/config/applicationhost.config
.vs/ajandamWeb/v15/.suo
.vs/ajandamWeb/v15/.suo
